<a href="https://colab.research.google.com/github/Georgia-MAX-holic/theory/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D/K-%ED%8F%B4%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **피처 **

1. 데이터의 일반 속성 
    머신러닝은 2차원 이상의 다차원 데이터에서도 많이 사용되므로 
    타겟값을 제외한 나머지 속성을  [피처] 

2. 레이블, 클래스,타겟(값), 결정(값)
    - 타겟값, 결정값 : 지도 학습시, 데이터의 학습을 위해 주어지는 정답 데이터의 학습을 위해 주어지는 정답 데이터 

    - 지도 학습 중 분류의 경우에는 이 결정값을 레이블 또는 클래스로 지칭 


# **분류** 
  - 분류 : 대표적인 지도학습(Supervied Learning) 방법 

    지도학습은 학습을 위한 다양한 피처와 분류 결정값인 레이블(Label) 데이터로   모델을 학습한 뒤 , 별도 테스트 데이터 셋에서 미지의 레이블 값을 예측 

  


# **붓꽃 데이터 분류 예측 프로세스 **

1. 데이터 분리 : 데이터를 학습 데이터와 테스트 데이터와 분리 

2. 모델 분리 : 학습 데이터를 기반으로  ML 알고리즘을 적용해 모델 학습 

3. 예측 수행 : 학습된 ML 모델을 이용해 테스트 데이터의 분류 ( 즉, 붓꽃 종류)를 예측

4. 평가 : 예측된 결괏값과 테스트 데이터의 실제 결괏값을 비교해 ML 모델 성능을 평가

In [2]:
import sklearn
print(sklearn
      .__version__)

1.0.2

In [3]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [11]:
import pandas as pd 

iris = load_iris()

# Feature 만 numpy로  가지고 있음 
iris_data = iris.data 

# 레이블(결정값) 데이터를 numpy로 가지고 있음
iris_label = iris.target  
print('iris target값:' , iris_label)
print('iris target명:' , iris.target_names)

#붓꽃 데이터 세트를 확인하기 위해 DataFrame으로 변환 
iris_df = pd.DataFrame(data = iris_data, columns=iris.feature_names)
iris_df['label'] = iris.target
iris_df.head(3)

iris target값: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
iris target명: ['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [12]:
X_train, X_test , y_train , y_test = train_test_split(iris_data, iris_label , 
                                                      test_size = 0.2, random_state=11)

In [13]:
#DecisionTreeClassfier 객체 생성 
DTC = DecisionTreeClassifier(random_state=11)

DTC.fit(X_train, y_train)

DecisionTreeClassifier(random_state=11)

In [16]:
# 학습된 DecisionTreeClassifier 객체에서 테스트 데이터 세트로 예측 확인
pred = DTC.predict(X_test)

In [15]:
pred

array([2, 2, 1, 1, 2, 0, 1, 0, 0, 1, 1, 1, 1, 2, 2, 0, 2, 1, 2, 2, 1, 0,
       0, 1, 0, 0, 2, 1, 0, 1])

In [18]:
#예측 정확도 평가 

from sklearn.metrics import accuracy_score
print("예측 정확도: {0:4f}".format(accuracy_score(y_test,pred)))

예측 정확도: 0.933333

# **교차 검증 **

`학습 데이터 세트`

<학습 데이터를 다시 분할하여 학습 데이터와 학습된 모델의 성능을 일차 평가하는 검증 데이터로 나눔> 

-> 분할 

[학습 데이터 세트][검증 데이터 셋] ex) 모의고사들 




`테스트 데이터 세트`   


모든 학습/ 검증 과정이 완료된 후 최종적으로 성능을 평가하기 위한 세트  ex) 수능

K 폴드 교차 검증

O  학습 
X  검증   


<---------><->

 O  O  O  O  X 

 O  O  O  X  O

 O  O  X  O  O

 O  X  O  O  O

 X  O  O  O  O


 => 교차 검증 최종 평가  = 평균 ( 평가[ 1,2,3,4,5])



K-폴드 교차 검증( 세부)

    - 일반 K 폴드 

    - Stratified K 폴드 
        = 불균형한 (Imbalanced 분포도를 가진 레이블(결정 클래스))
            데이터가 집합을 위한 K 폴드 방식 

        = 학습 데이터와 검증 데이터 세트가 가지는 레이블 분포도가 유사하도록 검증 데이터 추출




K 폴드를 더 간단하게 
    
  K-Fold 클래스를 이용한 교차 검증 방법 

  1. 폴드 세트 설정 

  2. For 루프에서 반복적으로 학습/검증 데이터 추출 및 학습 및 예측 수행 

  3. 폴드 세트 별로 예측을 평균하여 최종성능 



  => cross_val_score()
  함수로 폴드 세트 추출하여 학습/예측 평가를 한번에